{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, menu_name, 0) }}

{% macro menu_links(items, attributes, menu_name, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('menu', 'menu--' ~ menu_name) }}>
    {% else  %}
      <ul{{ attributes.addClass('dropdown-menu') }}>
    {% endif %}

    {% for item in items %}
      {%
        set item_classes = [
          item.is_expanded ? 'expanded',
          item.below ? 'dropdown',
          item.in_active_trail ? 'active',
          loop.first ? 'first',
          loop.last ? 'last',
          item.title|clean_class
        ]
      %}
      <li{{ item.attributes.addClass(item_classes) }}>
        {% if item.content %}
          {{ item.content }}
        {% else %}
          {{ link(item.title, item.url, item.link_attributes.addClass(item.below ? 'dropdown-toggle')) }}
        {% endif %}

        {% if item.below %}
          {{ menus.menu_links(item.below, attributes.removeClass('nav', 'navbar-nav', 'menu', 'dropdown-menu', 'menu--' ~ menu_name), menu_name, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}

    </ul>
  {% endif %}
{% endmacro %}
